*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ffe6a7;
    text-align: center;
}
h1{
    font-size: 40px;
    color:#432818;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin;
}
.box{
    height: 18vmin; 
    width: 18vmin;
    background-color: #99582A;
    border-radius: 9vmin;
    border:none;
    font-size: 8vmin;
    color: #432818;
}
#reset{
    padding:14px 30px;
    border-radius: 23px;
    border:none;
    background-color: #99582A;
    margin:20px;
    color: #ffe6a7;
}
#new_game{
    padding:14px 30px;
    border-radius: 23px;
    border:none;
    background-color: #99582A;
    color: #ffe6a7;
}
#reset:hover, #new_game:hover{
    background-color:#432818;
}
.box:hover{
    background-color: rgba(153,88,42,0.9);
}
.winner_msg{
    font-size: 26px;
    color:#432818;
    font-family: Arial, Helvetica, sans-serif;
}
.msg_container{
   
}
.hide{
    display:none;
}